<!DOCTYPE html>
<div id="post-<%= _id %>" class="post">
  <div class="title">
    <a href="/posts/<%= _id %>"><%= title %></a>
  </div>
  <div class="body">
    <p><%= body %></p>
  </div>

  <div class="button">
  <button>Delete</button>  
  </div>
</div>
